/* Component enclosing tag */
.Contact {
  padding: 1em;
  background: linear-gradient(
    45deg,
    white 25%,
    #036868 25%,
    #047070 50%,
    #e0ffff 75%
  );
  width: 150px;
  display: flex;
  align-items: center;
}

/* Contact image */
.Contact .avatar {
  border-radius: 100%;
  margin-right: 1em;
  width: 50px;
  height: 50px;
}

/* Name */
.Contact .name {
  margin: 0 0 0.25rem;
  color: rgb(5, 4, 99);
}
.status {
  display: flex;
  flex-direction: row;
}

/* Status text */
.Contact .status .status-text {
  color: black;
  margin: 0;
  text-align: left;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  margin-top: 6px;
}

.Contact .status .status-online {
  background: #aed581;
}

.Contact .status .status-offline {
  background: #f4511e;
}
